<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
      {% block title %}
      {{ chatroom.name }} |
      {% endblock %}Chat App
    </title>

    <script src="https://cdn.tailwindcss.com"></script>

    <style>
      .messages {
        height: 400px;
        overflow-y: auto;
      }
    </style>
  </head>

  <body class="bg-gradient-to-r from-rose-950 to-slate-950">
    <div class="flex h-screen antialiased text-gray-800">
      <div class="flex flex-row h-full w-full overflow-x-hidden">
        <div class="flex flex-col flex-auto h-full p-6">
          <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full p-4">
            <div class="flex flex-col h-full overflow-x-auto mb-4">
              <div class="flex flex-col h-full">
                <div class="grid grid-cols-12 gap-y-2" id="chat-messages">
                  {% for m in messages %}
                    {% if m.user == request.user %}
                      <div class="col-start-6 col-end-13 p-3 rounded-lg">
                        <div class="flex items-center justify-start flex-row-reverse">
                          <div class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0">{{ m.user.username|first }}</div>
                          <div class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl">
                            <div>{{ m.content }}</div>
                          </div>
                        </div>
                      </div>
                    {% else %}
                      <div class="col-start-1 col-end-8 p-3 rounded-lg">
                        <div class="flex flex-row items-center">
                          <div class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0">{{ m.user.username|first }}</div>
                          <div class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl">
                            <div>{{ m.content }}</div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <form method="post" action="." class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4">
              {% csrf_token %}
              <div class="flex-grow ml-4">
                <div class="relative w-full">
                  <input type="text" name="content" id="chat-message-input" class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10" />
                </div>
              </div>
              <div class="ml-4">
                <button class="flex items-center justify-center bg-indigo-500 hover:bg-indigo-600 rounded-xl text-white px-4 py-1 flex-shrink-0" id="chat-message-submit"><span>Send</span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {{ chatroom.slug|json_script:'json-roomname' }}
    {{ request.user.username|json_script:'json-username' }}
  
    <script>
      const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
      const userName = JSON.parse(document.getElementById('json-username').textContent);
      const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/' + roomName + '/');
  
      chatSocket.onclose = function (e) {
        console.log('onclose');
      };
  
      chatSocket.onopen = function (e) {
        console.log('onopen');
        // Once the WebSocket connection is open, scroll to the bottom of the chat
        scrollToBottom();
      };
  
      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
  
        if (data.message) {
          const messageContainer = createMessageContainer(data.username, data.message);
          const chatMessages = document.querySelector('#chat-messages');
          chatMessages.appendChild(messageContainer);
  
          if (chatMessages) {
            chatMessages.appendChild(messageContainer);
            scrollToBottom();
          } else {
            console.error("Chat messages element not found!");
          }
  
        } else {
          alert('The message was empty!');
        }
      };
  
      document.querySelector('#chat-message-input').focus();
      document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {
          document.querySelector('#chat-message-submit').click();
        }
      };
  
      document.querySelector('#chat-message-submit').onclick = function (e) {
        e.preventDefault();
  
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
  
        console.log({
          message: message,
          username: userName,
          chatroom: roomName
        });
  
        chatSocket.send(JSON.stringify({
          message: message,
          username: userName,
          chatroom: roomName
        }));
  
        messageInputDom.value = '';
  
        return false;
      };
      function scrollToBottom() {
        const chatMessages = document.querySelector('#chat-messages');
        const lastMessage = chatMessages.lastElementChild;
        if (lastMessage) {
          lastMessage.scrollIntoView({ behavior: 'smooth', block: 'end' });
        }
      }
      
      
  
      function createMessageContainer(username, message) {
        const container = document.createElement('div');
        const innerDiv = document.createElement('div');
        const avatarDiv = document.createElement('div');
        const contentDiv = document.createElement('div');
  
        if (username === userName) {
          // Sender's message, show on the right
          container.className = 'col-start-6 col-end-13 p-3 rounded-lg';
          innerDiv.className = 'flex items-center justify-start flex-row-reverse';
          avatarDiv.className = 'flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0';
          contentDiv.className = 'relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl';
        } else {
          // Receiver's message, show on the left
          container.className = 'col-start-1 col-end-8 p-3 rounded-lg';
          innerDiv.className = 'flex flex-row items-center';
          avatarDiv.className = 'flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0';
          contentDiv.className = 'relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl';
        }
  
        avatarDiv.textContent = username[0];
        contentDiv.textContent = message;
  
        innerDiv.appendChild(avatarDiv);
        innerDiv.appendChild(contentDiv);
        container.appendChild(innerDiv);
  
        return container;
      }
    </script>

  </body>
</html>




